.home{
  width: 100%;
  position: relative;
}

.home img{
  width: 100%;
}

.image {
  width: 100%;
}

.text {
  position: absolute;
    width: 23rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the top and left by 50% */
}

.text h2{
  font-size: 1.67rem;
    margin: 0;
}

.text p{
  font-size: 0.875rem;
  margin-top: 0;

}

.text-content {
  color: white;
  text-align: center;
  width: 70%;
  margin: auto;
}


.btn{
    background-color: rgba(72, 60, 50, 1);
    padding: 1rem 3rem;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.main{
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 2rem;
}

.main-headers{
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.main-headers p{
    padding: 0 0.5rem;
    color:  rgba(141, 137, 131, 1);
    font-size: 1rem;
    cursor: pointer;
    
}

.main-headers p.active {
  color: black;
}

.main-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 3rem;
}

.products{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (min-width: 992px){
  .text {
    position: absolute;
      width: 23rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      top: 50%; /* Center vertically */
      left: 50%; /* Center horizontally */
      transform: translate(-50%, -50%); /* Offset the top and left by 50% */
  }

  .text h2{
    font-size: 3rem;
  }

  .text p{
    font-size: 1.25rem;
  }

  .main{
    
  }

  .main-headers p{
    font-size: 2rem;
    padding-right: 1rem;
  }
}